<div class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="navbar-header pull-left">
        <a class="navbar-brand">
            <div class="navbar-item">
                {{title}}
            </div>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <button class="btn btn-default">
            <a class="nav-item" routerLink="/dashboard">Home</a>
        </button>
        <button class="btn btn-default">
            <a class="nav-item" routerLink="/list-orders">Orders</a>
        </button>
    </div>
</div>