<div class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand navbar-left">
            <img src="../../../assets/img/Data_Manipulation_2x.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
            <div class="navbar-item">
                {{title}}
            </div>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <button class="btn btn-default">
            <a class="nav-item" routerLink="/dashboard">Home</a>
        </button>
        <button class="btn btn-default">
            <a class="nav-item" routerLink="/list-orders">Orders</a>
        </button>
    </div>
</div>